[Unit]
Description=gunicorn daemon for algolog
After=network.target

[Service]
User=quickrpe
Group=www-data
WorkingDirectory=/home/quickrpe/algolog
ExecStart=/home/quickrpe/algolog/algoenv/bin/gunicorn --workers 2 --bind unix:/home/quickrpe/algolog/algolog.sock algolog.wsgi:application

[Install]
WantedBy=multi-user.target
